@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600&family=Inter:wght@400;500&display=swap');

:root {
  --p1-color: #4C6FCC;
  --p2-color: #D69A2D;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #17181A;
  color: #E7E3D8;
}

h1, h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
}
